In [1]:
using Pkg
#Pkg.add("Queryverse")
using Queryverse

In [2]:
using DataFrames

In [3]:
#Pkg.add("XLSX")
import XLSX

In [4]:
using HTTP
using CSV

In [5]:
link = "https://catalogue.data.govt.nz/dataset/916651bf-4753-472d-8c9c-1645e6fcee9e/resource/fe9f507d-5aa6-4880-962b-18f379d067c4/download/ar-285-running-injuries-response.xlsx"

"https://catalogue.data.govt.nz/dataset/916651bf-4753-472d-8c9c-1645e6fcee9e/resource/fe9f507d-5aa6-4880-962b-18f379d067c4/download/ar-285-running-injuries-response.xlsx"

In [6]:
file = HTTP.download(link,pwd())

┌ Info: Downloading
│   source = https://catalogue.data.govt.nz/dataset/916651bf-4753-472d-8c9c-1645e6fcee9e/resource/fe9f507d-5aa6-4880-962b-18f379d067c4/download/ar-285-running-injuries-response.xlsx
│   dest = C:\Users\Ben\OneDrive - University of Canterbury\DATA422 - Data Wrangling\DATA422-Group-Project\ar-285-running-injuries-response.xlsx
│   progress = 1.0
│   time_taken = 0.11 s
│   time_remaining = 0.0 s
│   average_speed = 439.737 KiB/s
│   downloaded = 48.371 KiB
│   remaining = 0 bytes
│   total = 48.371 KiB
└ @ HTTP C:\Users\Ben\.julia\packages\HTTP\PesRN\src\download.jl:132

"C:\\Users\\Ben\\OneDrive - University of Canterbury\\DATA422 - Data Wrangling\\DATA422-Group-Project\\ar-285-running-injuries-response.xlsx"

In [7]:
el = XLSX.readxlsx(file)

XLSXFile("ar-285-running-injuries-response.xlsx") containing 2 Worksheets
            sheetname size          range
-------------------------------------------------
                Notes 269x24        A1:X269
                 Data 77x26         B2:AA78

In [8]:
data = el["Data"] 
target_table = DataFrame(data["C50:M68"], :auto)

19×11 DataFrame
 Row │ x1     x2     x3     x4     x5     x6     x7     x8     x9     x10    x ⋯
     │ Any    Any    Any    Any    Any    Any    Any    Any    Any    Any    A ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ 2010   2011   2012   2013   2014   2015   2016   2017   2018   2019   2 ⋯
   2 │ 36     30     53     26     18     20     30     38     95     142    1
   3 │ 172    160    203    181    171    229    301    288    433    490    3
   4 │ 693    646    858    812    809    937    1030   1006   1246   1318   1
   5 │ 1052   909    1116   1161   1172   1217   1213   1158   1132   998    1 ⋯
   6 │ 1109   1074   1336   1413   1476   1580   1397   1425   1267   1152   1
   7 │ 1179   1125   1227   1388   1493   1650   1599   1721   1507   1362   1
   8 │ 1248   1111   1248   1414   1537   1525   1578   1584   1275   1227   1
   9 │ 1628   1384   1606   1701   1697   1829   1812   1678   1430   1399   1 ⋯
  10 │ 1607   1462   1813   1974   1955   2184   2189   2024   1651   1391   1
  11 │ 1359   1289   1478   1654   1712   1925   1820   1859   1633   1409   1
  12 │ 880    855    1037   1143   1210   1477   1414   1344   1092   1007   1
  13 │ 441    486    557    543    663    759    817    798    724    719    6 ⋯
  14 │ 257    248    314    317    321    393    432    386    364    388    4
  15 │ 101    104    144    156    187    214    230    227    180    212    2
  16 │ 64     46     49     59     59     83     94     120    102    115    1
  17 │ 10     8      13     14     21     32     26     41     28     41     4 ⋯
  18 │ 13     5      7      8      15     10     18     10     19     27     2
  19 │ 11849  10942  13059  13964  14516  16064  16000  15707  14178  13397  1
                                                                1 column omitted

In [9]:
table_data = DataFrame(AgeGroup=["0-19","20-29","30-39","40-49","50-59","60-69","70+","Total"])

8×1 DataFrame
 Row │ AgeGroup
     │ String
─────┼──────────
   1 │ 0-19
   2 │ 20-29
   3 │ 30-39
   4 │ 40-49
   5 │ 50-59
   6 │ 60-69
   7 │ 70+
   8 │ Total

In [10]:
for num in 1:11
    result1 = target_table[2,num] + target_table[3,num] + target_table[4,num] + target_table[5,num]
    result2 = target_table[6,num] + target_table[7,num]
    result3 = target_table[8,num] + target_table[9,num]
    result4 = target_table[10,num] + target_table[11,num]
    result5 = target_table[12,num] + target_table[13,num]
    result6 = target_table[14,num] + target_table[15,num]
    result7 = target_table[16,num] + target_table[17,num] + target_table[18,num]
    result8 = target_table[19,num]     
    col_name = string(target_table[1,num])
    insertcols!(table_data,num+1,col_name => [result1,result2,result3,result4,result5,result6,result7,result8])
end

In [11]:
target_table2 = DataFrame(data["P29:AA36"], :auto)

8×12 DataFrame
 Row │ x1                     x2     x3     x4     x5     x6     x7     x8     ⋯
     │ Any                    Any    Any    Any    Any    Any    Any    Any    ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Injury Site            2010   2011   2012   2013   2014   2015   2016   ⋯
   2 │ Ankle                  2953   2695   3157   3404   3469   3777   3827
   3 │ Knee                   2471   2343   2820   3144   3317   3697   3681
   4 │ Lower Leg              2147   1930   2288   2285   2344   2459   2373
   5 │ Hip, Upper Leg, Thigh  1415   1319   1546   1695   1784   1961   1982   ⋯
   6 │ Foot                   907    813    1080   1175   1149   1259   1313
   7 │ Other                  1956   1842   2168   2261   2453   2911   2824
   8 │ Total                  11849  10942  13059  13964  14516  16064  16000
                                                               4 columns omitted

In [12]:
table_data2 = DataFrame(InjurySite = ["Ankle","Knee","Lower Leg","Hip, Upper Leg, Thigh","Foot","Other","Total"])

7×1 DataFrame
 Row │ InjurySite
     │ String
─────┼───────────────────────
   1 │ Ankle
   2 │ Knee
   3 │ Lower Leg
   4 │ Hip, Upper Leg, Thigh
   5 │ Foot
   6 │ Other
   7 │ Total

In [13]:
for num in 2:12
    result1 = target_table2[2,num] 
    result2 = target_table2[3,num] 
    result3 = target_table2[4,num] 
    result4 = target_table2[5,num] 
    result5 = target_table2[6,num] 
    result6 = target_table2[7,num] 
    result7 = target_table2[8,num]  
    col_name = string(target_table2[1,num])
    insertcols!(table_data2,num,col_name => [result1,result2,result3,result4,result5,result6,result7])
end

In [14]:
print(table_data)

8×12 DataFrame
 Row │ AgeGroup  2010   2011   2012   2013   2014   2015   2016   2017   2018   2019   2020 (YTD)
     │ String    Int64  Int64  Int64  Int64  Int64  Int64  Int64  Int64  Int64  Int64  Int64
─────┼────────────────────────────────────────────────────────────────────────────────────────────
   1 │ 0-19       1953   1745   2230   2180   2170   2403   2574   2490   2906   2948        2598
   2 │ 20-29      2288   2199   2563   2801   2969   3230   2996   3146   2774   2514        2592
   3 │ 30-39      2876   2495   2854   3115   3234   3354   3390   3262   2705   2626        2715
   4 │ 40-49      2966   2751   3291   3628   3667   4109   4009   3883   3284   2800        2908
   5 │ 50-59      1321   1341   1594   1686   1873   2236   2231   2142   1816   1726        1748
   6 │ 60-69       358    352    458    473    508    607    662    613    544    600         611
   7 │ 70+          87     59     69     81     95    125    138    171    149    183         166
   8 │ Total     11849  10942  13059  13964  14516  16064  16000  15707  14178  13397       13338

In [15]:
print(table_data2)

7×12 DataFrame
 Row │ InjurySite             2010   2011   2012   2013   2014   2015   2016   2017   2018   2019   2020 (YTD)
     │ String                 Int64  Int64  Int64  Int64  Int64  Int64  Int64  Int64  Int64  Int64  Int64
─────┼─────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │ Ankle                   2953   2695   3157   3404   3469   3777   3827   3697   3228   2808        2895
   2 │ Knee                    2471   2343   2820   3144   3317   3697   3681   3688   3345   3073        3185
   3 │ Lower Leg               2147   1930   2288   2285   2344   2459   2373   2207   1745   1538        1615
   4 │ Hip, Upper Leg, Thigh   1415   1319   1546   1695   1784   1961   1982   1993   1792   1813        1828
   5 │ Foot                     907    813   1080   1175   1149   1259   1313   1297   1186   1116        1101
   6 │ Other                   1956   1842   2168   2261   2453   2911   2824   2825   2882   3049        2714
   7 │ Total                  11849  10942  13059  13964  14516  16064  16000  15707  14178  13397       13338

In [16]:
CSV.write("injuryAgeGroups.csv",table_data)

"injuryAgeGroups.csv"

In [17]:
CSV.write("injuries.csv",table_data2)

"injuries.csv"